body {
  background: linear-gradient(108.87deg, #192546 -0.03%, #354672 108.56%);
}
.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.App {
  height: 100vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: #121b2e;
  color: white;
}

td {
  text-align: left;
  padding: 8px;
}
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  color: white;
}

tr {
  border: 0.1px solid #e5e7eb21;
  color: #7a8da7;
  background-color: #1e293b;
  cursor: pointer;
  transition: 0.3s ease-out;
}
tr:hover {
  transform: scale(1);
  transition: 0.4s ease-in;
  background-color: #172131;
  color: #d6e6ff;
}
.result {
  color: white;
  background-color: #111b3c;
}
.editor {
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;

  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.755);
}

.editorNav {
  background-color: #111b3c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  border-radius: 8px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.303);
}
.edi {
  border-radius: 0 0 8px 8px;
  background: #d0ffc9;
  width: 100%;
  height: 20vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.border {
  border-radius: 8px 8px 0 0;
}

.content {
  animation: anim forwards 0.5s ease;
}
.contentAni {
  animation: animr forwards 0.5s ease;
}

.code {
  width: 100%;
  height: 100%;
}

@keyframes anim {
  from {
    height: 0vh;
  }
  to {
    height: 20vh;
  }
}
@keyframes animr {
  from {
    height: 20vh;
  }
  to {
    height: 0vh;
  }
}

.output {
  height: 100%;
  width: 100%;
  overflow: scroll;
  border-radius: 0 0 8px 8px;
  overflow-x: auto;
  overflow-y: auto;
}
.result {
  height: 100%;
  /* overflow: scroll; */
}

.outputNav {
  background-color: #111b3c;
  color: white;
  display: flex;
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 0;
}
.outputNav h2 {
  margin-left: 1rem;
}

.dbInfo p {
  text-align: left;
  background-color: #121b2e;
  color: white;
  width: 85%;
  margin: 1rem auto;
  padding: 1rem;
  font-size: large;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.playGround {
  height: 95vh;
  width: 95vw;
  margin: 2.5vh auto;
  display: flex;
  justify-content: space-between;
}

.left {
  background-color: #eef7ff;
  width: 30%;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  border-radius: 8px;
}
.right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.editorNav h2 {
  margin-left: 1.5rem;
}
.control button {
  margin-right: 1.5rem;
}

.top {
  height: 35%;
}
.bottom {
  height: 50%;
}

.dbInfo {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.quick {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 83%;
}
.li {
  cursor: pointer;
  text-align: center;
  width: 95%;
  margin: 0.5rem auto;
  font-size: large;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

.drop {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.up {
  animation: dnn forwards 0.5s ease;
}
.down {
  animation: upp forwards 0.5s ease;
}

@keyframes upp {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(0);
  }
}
@keyframes dnn {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}
.logo {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  transform: scale(1.4);
}

button {
  padding: 0.3rem 1rem;
  border: none;
  cursor: pointer;
}
.b1 {
  background-color: #079518;
  color: white;
  font-size: 16px;
}
.b2 {
  background-color: rgb(165, 1, 1);
  color: white;
  font-size: 16px;
}

.result h2 {
  margin: 0;
  padding: 0;
}
.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
